.card-size {
    max-width: 45%;
}



.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color:dimgray;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}


.card:hover .overlay {
    opacity: 1;
}

.text {
    color: white;
}